@import 'tailwindcss';

body {
	font-family: 'Poppins', sans-serif;
}

.underLight:after {
	display: block;
	content: '';
	margin-top: 6px;
	border-bottom: solid 3px rgb(255, 255, 255);
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}
.underLight:hover:after {
	transform: scaleX(1);
}
